* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #a8e0ff 50%, #3e517a 50%);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #4c4c4c;
}

